/.lake/
/.DS_Store
/**/*.DS_Store
/A211420_Lean_Formalization_v1.zip
/A211420_Lean_Formalization_v1/
/output/
/tmp/
/paper/*.aux
/paper/*.fdb_latexmk
/paper/*.fls
/paper/*.log
/paper/*.out
/social/*.aux
/social/*.fdb_latexmk
/social/*.fls
/social/*.log
/social/*.out
